<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [class.dark]="darkMode$ | async">
  <h3>Ionic Menu Starter</h3>

  <!-- <form (ngSubmit)="actualizaUser()">
    <ion-label>nombre</ion-label>
    <ion-input type="text" [(ngModel)]='nombre' name="nombre"></ion-input>
    <ion-label>isLogged</ion-label>
    <ion-checkbox [(ngModel)]='isLogged' name="isLogged"></ion-checkbox>
    <button ion-button>Enviar</button>
  </form> -->
  <!-- <button  ion-button type="button" (click)="irDetalle()">Detalle</button>
  <button  ion-button type="button" (click)="test()">test</button>
  <button ion-button secondary menuToggle>Toggle Menu</button> -->

  <h2>DarkMode</h2>
  <p>{{darkMode$ | async}}</p>
  <h2>Status Bar</h2>
  <p>{{sidebarStatus$ | async}}</p>
  <h2>Logueado</h2>
  <p>{{isLogged$ | async}}</p>
  <button ion-button (click)="logIn()" *ngIf="!(isLogged$ | async)">Log</button>
  <button ion-button (click)="logOut()" *ngIf="(isLogged$ | async)">Logout</button>

  <div>
    <button ion-button type="button">Añadir Entity Usuario</button>
    <p>click sobre el usuario para ponerlo activo y editar su nombre</p>
  </div>
</ion-content>